<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>IoT Cloud</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body class="example">
        {% if error_message %}
            <h1>An Error Occurred</h1>
            <p style="color: red;">{{ error_message }}</p>
        {% else %}
            <h1 style="margin-top: 30px; text-align: center;">Santa Cruz Forecast vs. UCSC Sensor Readings</h1>

            <!-- Temperature Graph -->
            {% if temp_graph_image %}
            <div class="graph-container" style="margin-top: 30px; text-align: center;">
                <img src="data:image/png;base64,{{ temp_graph_image }}" alt="Temperature Forecast Graph">
            </div>
            {% else %}
            <div class="graph-container" style="margin-top: 30px;">
                <p>Temperature graph could not be generated.</p>
            </div>
            {% endif %}

            <!-- Humidity Graph -->
            {% if hum_graph_image %}
            <div class="graph-container" style="margin-top: 30px; text-align: center;">
                <img src="data:image/png;base64,{{ hum_graph_image }}" alt="Temperature Forecast Graph">
            </div>
            {% else %}
            <div class="graph-container" style="margin-top: 30px;">
                <p>Humidity graph could not be generated.</p>
            </div>
            {% endif %}

            <!-- Soil Moisture Graph -->
            {% if soil_graph_image %}
            <div class="graph-container" style="margin-top: 30px; text-align: center;">
                <img src="data:image/png;base64,{{ soil_graph_image }}" alt="Temperature Forecast Graph">
            </div>
            {% else %}
            <div class="graph-container" style="margin-top: 30px;">
                <p>Soil moisture graph could not be generated.</p>
            </div>
            {% endif %}

            <!-- Wind Speed Graph -->
            {% if wind_graph_image %}
            <div class="graph-container" style="margin-top: 30px; text-align: center;">
                <img src="data:image/png;base64,{{ wind_graph_image }}" alt="Temperature Forecast Graph">
            </div>
            {% else %}
            <div class="graph-container" style="margin-top: 30px;">
                <p>Wind speed graph could not be generated.</p>
            </div>
            {% endif %}
        {% endif %}
    </body>
</html>